/*
color palatte:
beige: #F5F0E4
dark beige: #C4BCB2
dark green: #375923
light green: #A1B396
white: white
brown #2B1D08
*/

/*  general styles  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Rouge+Script&display=swap');

body {
    background-color: #F5F0E4;
    margin: 0;
    color: #2B1D08;
    font-family: Merriweather, Georgia, serif;
    line-height: 1.5em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 1;
}

h1 {
    margin: 0 0 5px 0;
    font-family: "Rouge Script", serif;
    font-size: 3em;
    line-height: 0.7em;
}

h2, h3 {
    text-align: center;
}

button {
    background-color: #375923;
    color: white;
    border: none;
    font-family: Merriweather, Georgia, serif;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #2B1D08;
}

footer {
    background-color: #C4BCB2;
    color: #2B1D08;
    height: 100%;
    margin-top: 40px;
    padding: 5px;
    text-align: right;
}

/*  header and navigation   */

header {
    background-color: #375923;
    color: white;
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px #2B1D0855;

}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    border-bottom: 5px solid #375923;
}

nav a:hover {
    background-color: #A1B396;
    border-bottom: 5px solid white;
    box-shadow: 0 2px 2px #FFFFFF55;
}

/*  index page  */

.main-content-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-content-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

/*  place order page    */

#order-nav {
    background-color: none;
}

#order-nav a {
    color:#2B1D08;
    border: none;
    border-radius: 5px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    width: 100%;
}

.menu-tile {
    background-color: #A1B396;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.menu-tile h4 {
    text-align: center;
}

.menu-tile div {
    display: flex;
    height: 200px;
    align-items: center;
}

.menu-tile p {
    margin: 8px;
}

img {
    border-radius: 5px;
}

#order-button {
    font-size: 1.3em;
}

/*  reservation page    */

input, textarea {
    padding: 5px;
    border: 2px solid #2B1D08;
    border-radius: 5px;
    margin: 8px;
    font-family: Merriweather, Georgia, serif;
}

textarea {
    width: 100%;
}